@charset "UTF-8";
.header {
  color: #3a3335;
  font-family: "Corben", serif;
}
.header__title {
  font-weight: 400;
  font-family: "Corben", serif;
  font-size: 3rem;
  background-color: #016855;
  color: #f2f2f2;
  padding: 2rem 2.7rem;
  text-align: center;
  line-height: 1;
}
@media only screen and (min-width: 30rem) and (max-width: 38rem) {
  .header__title {
    font-size: 4rem;
    padding: 2rem 3.7rem;
  }
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .header__title {
    background-color: #f2f2f2;
    color: #016855;
    display: block;
    font-size: clamp(2rem, 6vw, 5rem);
    padding: 2rem 6rem;
  }
}
@media only screen and (min-width: 48rem) {
  .header__title {
    font-size: clamp(2rem, 8vw, 5rem);
    background-color: #f2f2f2;
    color: #016855;
  }
}
.header__list {
  animation: slideInFromLeft 3s ease-out forwards;
}
@media only screen and (max-width: 38rem) {
  .header__list {
    display: none;
  }
}
@media only screen and (max-width: 48rem) {
  .header__list {
    list-style: none;
    text-align: left;
    font-size: clamp(1rem, 7vw, 6rem);
    line-height: 95%;
    padding: 0 0 0 5rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 90rem) {
  .header__list {
    list-style: none;
    text-align: left;
    font-size: clamp(2rem, 6vw, 4.5rem);
    line-height: 95%;
    padding: 0 2rem 0 10rem;
  }
}
@media only screen and (min-width: 90rem) and (max-width: 110rem) {
  .header__list {
    list-style: none;
    text-align: left;
    font-size: clamp(2rem, 6vw, 4.5rem);
    line-height: 95%;
    padding: 0 2rem 0 14rem;
  }
}
@media only screen and (min-width: 110rem) {
  .header__list {
    list-style: none;
    text-align: left;
    font-size: clamp(3rem, 6vw, 5.5rem);
    line-height: 95%;
    padding-left: 22rem;
  }
}
.header__logo {
  display: none;
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 30rem) {
  .header__logo {
    display: block;
    width: clamp(1rem, 18%, 14rem);
    position: absolute;
    bottom: 0; /* Adjust as needed */
    right: 2rem; /* Adjust as needed */
  }
}
.header__logo:hover {
  transform: translateY(-0.5rem);
}
.header__img {
  transform: translateX(-50%);
  z-index: -99;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .header__img {
    transform: translateX(-5%);
    padding-right: 9rem;
    max-width: 40rem;
  }
}
@media only screen and (min-width: 64rem) and (max-width: 90rem) {
  .header__img {
    transform: translateX(-10%);
    padding-right: 9rem;
    max-width: 42rem;
  }
}
@media only screen and (min-width: 90rem) {
  .header__img {
    transform: translateX(-35%);
    padding-right: 9rem;
    max-width: 42rem;
  }
}
.header__img img {
  transition: 0.5s;
}
.header__img img:hover {
  transform: scale(105%);
}

.greenLine {
  width: 100%;
  background-color: #01af8d;
  height: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .greenLine {
    display: block;
    height: 10px;
    background-color: #016855;
    width: 40%;
    margin: 1rem 3rem;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .greenLine {
    width: 90%;
    background-color: #016855;
    height: 10px;
    margin: 0 3rem 0 3rem;
  }
}
@media only screen and (min-width: 64rem) {
  .greenLine {
    width: 70%;
    margin: 0 auto;
    height: 10px;
  }
}

.greenLineShort {
  width: 100%;
  background-color: #016855;
  height: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .greenLineShort {
    padding-top: 0.3rem;
    display: block;
    height: 10px;
    background-color: #016855;
    width: 40%;
    margin: 1rem 3rem 4rem 3rem;
  }
}
@media only screen and (min-width: 64rem) {
  .greenLineShort {
    width: 70%;
    margin: 0 auto 5rem auto;
    height: 10px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  2. Remove default margin
*/
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  font-family: "Work Sans", sans-serif;
}
.navbar__list {
  color: #016855;
  list-style: none; /* This removes the bullets */
  display: flex;
  justify-content: space-around;
  background-color: #01af8d;
  opacity: 0.98;
}
.navbar__list__item {
  font-size: 1.7rem;
  padding: 1rem 0;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .navbar__list__item {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 0.5;
  }
  .navbar__list__item__dropdown-content li {
    display: none;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .navbar__list__item {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0.5;
  }
}
@media only screen and (min-width: 64rem) {
  .navbar__list__item {
    font-size: 2.2rem;
  }
}
.navbar__list__item--active {
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: overline;
}
.navbar__list__item:hover {
  font-weight: 600;
  color: #f2f2f2;
  transition: color 0.3s ease, font-weight 0.3s ease;
  text-decoration: none;
}

.mobile-navbar-toggle {
  display: none;
}

.mobile-navbar-toggle img {
  width: 10rem;
  z-index: 120000;
}

.navbar__list__item a {
  text-decoration: none;
  margin-inline-end: 0.5em;
}

@media (max-width: 38rem) {
  .navbar__list {
    z-index: 1000;
    justify-content: start;
    gap: 1rem;
    position: fixed;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    padding: min(20vh, 10rem) 2em;
    flex-direction: column;
    transition: transform 350ms ease-out;
  }
  .navbar__list[data-visible=true] {
    transform: translateX(0%);
  }
  .mobile-navbar-toggle[aria-expanded=true] {
    background-image: url("assets/icons/close.png");
  }
  .mobile-navbar-toggle {
    background-color: transparent;
    display: block;
    position: absolute;
    background-image: url("assets/icons/menu.png");
    background-size: cover;
    border: 0;
    width: 3em;
    aspect-ratio: 1;
    z-index: 9999;
    top: 2rem;
    right: 1rem;
    cursor: pointer;
  }
}
.dropbtn {
  z-index: 1;
  border: none;
  outline: none;
  background-color: #01af8d;
  opacity: 0.98;
  color: #016855;
}

.dropbtn:hover {
  font-weight: 600;
  color: #f2f2f2;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 1rem;
}

.dropdown-content a {
  float: none;
  padding: 1rem;
  background-color: #016855;
  color: #f2f2f2;
  display: block;
}

.dropdown-content a:hover {
  background-color: #01af8d;
  transition: background-color 0.5s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.back-to-top {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 9999999;
  position: fixed;
  right: 20px;
  bottom: 2rem;
  border-radius: 0%;
}

.back-to-top img {
  color: #ffffff;
  opacity: 1;
  z-index: 9999999;
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 6rem;
  height: 6rem;
}

.back-to-top:hover,
.back-to-top:focus,
.back-to-top:visited {
  color: #ffffff;
}

.back-to-top.showop {
  opacity: 1;
}

.flex__twoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.flex__twoItem--1 {
  flex: 1;
}

.flex__twoItemTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.flex__twoItemTop--1 {
  flex: 1;
}

.home {
  /*SERVICES*/
  /*EVENTS*/
}
.home button {
  transition: transform 0.3s ease;
}
.home button:hover {
  transform: scale(1.05);
}
.home__about {
  background-color: #01af8d;
  color: #3a3335;
}
.home__about__heading {
  font-family: "Corben", serif;
  padding-top: 2rem;
  padding-left: 3rem;
  color: #016855;
  font-size: 3vh;
}
@media only screen and (min-width: 48rem) {
  .home__about__heading {
    font-size: 3rem;
  }
}
.home__about__text {
  margin: 0 auto;
  text-align: justify;
  font-family: "Work Sans", sans-serif;
  width: 90%;
  padding: 1rem;
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .home__about__text {
    margin: 3rem;
    padding: 0 0 0 0;
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) and (max-width: 90rem) {
  .home__about__text {
    margin: 3rem;
    padding: 0 1rem 0 0;
    width: 75%;
  }
}
@media only screen and (min-width: 90rem) {
  .home__about__text {
    margin: 3rem;
    padding: 0 10rem 0 0;
  }
}
.home__about__img {
  transition: 0.5s;
  display: none;
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .home__about__img {
    display: block;
    padding: 1rem;
    margin: 2rem 0 0 2rem;
    max-width: 30rem;
    min-width: 10rem;
    width: 100%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 64rem) {
  .home__about__img {
    display: block;
    margin: 5rem;
    max-width: 30rem;
    min-width: 20rem;
    border-radius: 50%;
  }
}
.home__about__img:hover {
  transform: rotate(-5deg);
}
.home__about__textimg {
  transition: 0.5s;
  width: 23%;
  margin: 0.5rem 2rem 0rem 1rem;
  padding-bottom: 1rem;
  transform: translateY(-5%);
  min-width: 4rem;
  max-width: 15rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .home__about__textimg {
    width: 25%;
    margin: 0.5rem 2rem 0rem 7rem;
    padding-bottom: 1rem;
    transform: translate(5%, -10%);
    min-width: 10rem;
    max-width: 15rem;
  }
}
@media only screen and (min-width: 64rem) {
  .home__about__textimg {
    width: 25%;
    margin: 0.5rem 2rem 0rem 7rem;
    padding-bottom: 1rem;
    transform: translate(-10%, -10%);
    min-width: 10rem;
    max-width: 15rem;
  }
}
.home__about__textimg:hover {
  transform: rotate(-20deg);
}
.home__about__button {
  width: 100%;
  color: #f2f2f2;
  background-color: #f15c2a;
  margin-left: 50%;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
  align-self: flex-start;
}
@media only screen and (min-width: 38rem) {
  .home__about__button {
    color: #f2f2f2;
    width: 120%;
    background-color: #f15c2a;
    margin-left: 3rem;
    font-size: 1.5rem;
    padding: 0.2rem 3rem;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
    border: none;
    cursor: pointer;
    align-self: flex-start;
  }
}
.home__services {
  text-align: center;
  background-color: #016855;
  font-family: "Corben", serif;
}
.home__services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}
.home__services__row {
  margin-bottom: 1.1rem;
}
.home__services__first-row {
  padding-top: 3rem;
  width: 95%;
  display: flex;
  gap: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .home__services__first-row {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .home__services__first-row {
    width: 65%;
  }
}
.home__services__icon {
  flex: 1;
}
.home__services__icon img {
  width: clamp(2rem, 100%, 10rem);
  margin: 0 auto;
}
.home__services__heading {
  text-align: center;
  flex: 2.5;
  width: 83%;
  margin: auto;
  text-align: center;
}
.home__services__heading h2 {
  color: #f2f2f2;
  font-size: 3.5vh;
}
@media only screen and (min-width: 30rem) {
  .home__services__heading h2 {
    font-size: 3rem;
  }
}
.home__services__second-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 2.8rem;
}
@media only screen and (min-width: 30rem) and (max-width: 38rem) {
  .home__services__second-row {
    margin: 0 6rem;
  }
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .home__services__second-row {
    display: grid;
    margin: 0 3.4rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "item1 item2" "item3 item4";
  }
  .home__services__second-row--1 {
    grid-area: item1;
  }
  .home__services__second-row--2 {
    grid-area: item2;
  }
  .home__services__second-row--3 {
    grid-area: item3;
  }
  .home__services__second-row--4 {
    grid-area: item4;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .home__services__second-row {
    display: grid;
    margin: 0 7rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "item1 item2" "item3 item4";
  }
  .home__services__second-row--1 {
    grid-area: item1;
  }
  .home__services__second-row--2 {
    grid-area: item2;
  }
  .home__services__second-row--3 {
    grid-area: item3;
  }
  .home__services__second-row--4 {
    grid-area: item4;
  }
}
@media only screen and (min-width: 64rem) and (max-width: 90rem) {
  .home__services__second-row {
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 90rem) {
  .home__services__second-row {
    padding: 0 7rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
.home__services__second-row img {
  transition: 1s;
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
}
@media only screen and (min-width: 64rem) {
  .home__services__second-row img {
    width: 100%;
  }
}
.home__services__button {
  color: #f2f2f2;
  background-color: #f15c2a;
  margin: 3rem auto 0 auto;
  font-size: clamp(1.5rem, 2vw, 5rem);
  padding: 0 3rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.home__events {
  color: #f2f2f2;
  background-color: #af2bbf;
  font-family: "Corben", serif;
}
.home__events__text {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
@media only screen and (min-width: 48rem) and (max-width: 90rem) {
  .home__events__text {
    padding-top: 4rem;
  }
}
@media only screen and (min-width: 90rem) {
  .home__events__text {
    padding-top: 5rem;
  }
}
.home__events__text h2 {
  color: #f2f2f2;
  font-size: 3vh;
}
@media only screen and (min-width: 48rem) {
  .home__events__text h2 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 30rem) and (max-width: 64rem) {
  .home__events__text p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 64rem) {
  .home__events__text p {
    font-size: 1.8rem;
  }
}
.home__events__container {
  margin: 0 auto;
  padding: 5% 5% 10% 5%;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "event1 event1 event2 " "event3 event3 event4" "icon1 icon2 button";
}
.home__events__container img {
  border-radius: 20%;
  padding: 0.2rem;
}
@media only screen and (min-width: 38rem) and (max-width: 54rem) {
  .home__events__container img {
    border-radius: 20%;
    padding: 1rem;
  }
}
@media only screen and (min-width: 54rem) {
  .home__events__container {
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    grid-template-areas: "event1 event2 event3 event4 " "blank icon1 icon2 button";
  }
  .home__events__container img {
    border-radius: 20%;
    padding: 0.5rem;
  }
}
.home__events__item--blank {
  grid-area: blank;
}
.home__events__item--event1 {
  transition: 0.5s;
  grid-area: event1;
}
.home__events__item--event2 {
  transition: 0.5s;
  grid-area: event2;
}
.home__events__item--event3 {
  transition: 0.5s;
  grid-area: event3;
}
.home__events__item--event4 {
  transition: 0.5s;
  grid-area: event4;
}
.home__events__item--event1:hover, .home__events__item--event2:hover, .home__events__item--event3:hover, .home__events__item--event4:hover {
  transform: translateY(-10%);
}
.home__events__item--icon1 {
  grid-area: icon1;
  max-width: 13rem;
}
.home__events__item--icon2 {
  grid-area: icon2;
  max-width: 13rem;
}
.home__events__item--button {
  grid-area: button;
}
.home__events__item--button button {
  width: 100%;
  font-size: clamp(1.5rem, 2vw, 5rem);
  color: #016855;
  background-color: #01af8d;
  padding: 0 1rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .home__events__item--button button {
    padding: 0 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 64rem) {
  .home__events__item--button button {
    font-size: 2rem;
    width: 100%;
  }
}
.home__bPatch {
  background-color: #016855;
  color: #f2f2f2;
}
.home__bPatch__container {
  z-index: -10;
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}
@media only screen and (min-width: 48rem) and (max-width: 90rem) {
  .home__bPatch__container {
    width: 90%;
  }
}
@media only screen and (min-width: 90rem) {
  .home__bPatch__container {
    width: 70%;
  }
}
.home__bPatch__item1 {
  z-index: 100;
  color: #f2f2f2;
  font-weight: 600;
  grid-column: 1/3;
  grid-row: 1/2;
  font-family: "Corben", serif;
  line-height: 1;
  font-size: clamp(2.3rem, 6vw, 5rem);
  padding: 0 1rem 1rem 0;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .home__bPatch__item1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 0;
    font-size: clamp(3rem, 6vw, 4rem);
  }
}
@media only screen and (min-width: 48rem) {
  .home__bPatch__item1 {
    font-size: clamp(3rem, 6vw, 4rem);
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 0;
  }
}
.home__bPatch__item2 {
  grid-column: 3/4;
  grid-row: 1/2;
  z-index: 100;
  width: 80%;
}
@media only screen and (min-width: 38rem) {
  .home__bPatch__item2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 60%;
    margin: 0 auto;
    transform: translate(4.5rem, -1rem);
  }
}
.home__bPatch__item3 {
  z-index: 200;
  grid-column: 1/4;
  grid-row: 2/3;
}
@media only screen and (min-width: 38rem) {
  .home__bPatch__item3 {
    z-index: 11;
    grid-column: 2/4;
    grid-row: 1/3;
  }
}
.home__bPatch__item3 img {
  border-radius: 20px;
  max-width: 80%;
  margin: 0 auto;
  transform: translateX(1rem);
}
@media only screen and (min-width: 38rem) and (max-width: 90rem) {
  .home__bPatch__item3 img {
    max-width: 100%;
    transform: translateX(0);
    border-radius: 50px;
  }
}
@media only screen and (min-width: 90rem) {
  .home__bPatch__item3 img {
    max-width: 80%;
  }
}
.home__bPatch__item4 {
  z-index: 99;
  grid-column: 1/4;
  grid-row: 3/4;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  border-radius: 20px;
  width: 80%;
  padding: 2rem;
  background-color: #01af8d;
  transform: translateY(-2rem);
}
@media only screen and (min-width: 38rem) and (max-width: 90rem) {
  .home__bPatch__item4 {
    font-size: 1.2rem;
    z-index: 0;
    padding-top: 5rem;
    grid-column: 1/3;
    transform: translateY(-5rem);
    width: 100%;
  }
}
@media only screen and (min-width: 90rem) {
  .home__bPatch__item4 {
    z-index: 0;
    font-size: 1.2rem;
    padding-top: 5rem;
    grid-column: 1/3;
    transform: translateY(-5rem);
    width: 100%;
  }
}
.home__bPatch__item5 {
  grid-column: 2/4;
  grid-row: 4/5;
  width: 100%;
  transform: translate(0, -1.5rem);
  z-index: 200;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .home__bPatch__item5 {
    grid-column: 3/4;
    grid-row: 3/4;
    transform: translate(-2rem, 0);
    width: 100%;
  }
}
@media only screen and (min-width: 64rem) {
  .home__bPatch__item5 {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: 1rem;
    width: 100%;
    transform: translate(-1rem, 0);
  }
}
.home__bPatch__button {
  width: 100%;
  font-size: clamp(1.5rem, 2vw, 5rem);
  color: #f2f2f2;
  background-color: #f15c2a;
  padding: 0 1rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .home__bPatch__button {
    padding: 0 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 64rem) {
  .home__bPatch__button {
    font-size: 2rem;
    width: 100%;
  }
}
.home__newsletter {
  background-color: #af2bbf;
  color: #f2f2f2;
}
.home__newsletter__title {
  font-family: "Corben", serif;
  text-align: center;
  padding: 2rem 4rem;
  color: #f2f2f2;
  font-size: 1.8rem;
}
@media only screen and (min-width: 38rem) {
  .home__newsletter__title {
    font-size: 3rem;
  }
}
.home__newsletter__mailchimp {
  width: 50%;
  background-color: #f2f2f2;
  height: 2rem;
  border-radius: 10%;
  margin: 0 auto;
  margin-top: 1rem;
}
.home__newsletter__container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 2rem 0 3rem 0;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .home__newsletter__container {
    width: 50%;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .home__newsletter__container {
    width: 40%;
  }
}
@media only screen and (min-width: 64rem) and (max-width: 90rem) {
  .home__newsletter__container {
    width: 30%;
  }
}
@media only screen and (min-width: 90rem) {
  .home__newsletter__container {
    width: 20%;
  }
}
.home__newsletter__container__item {
  font-family: "Work Sans", sans-serif;
}
.home__newsletter__container img {
  max-height: 6rem;
  transition: transform 0.3s ease;
}
.home__newsletter__container img:hover {
  transform: scale(1.05);
}
.home__newsletter__container a {
  flex: 1;
}
.home__newsletter__container p {
  padding-left: 1rem;
  flex: 1;
  text-align: left;
  font-size: 1.3rem;
}
@media only screen and (min-width: 38rem) {
  .home__newsletter__container p {
    font-size: 2rem;
  }
}

.rotate--left:hover {
  transform: rotate(-10deg);
}

.rotate--right:hover {
  transform: rotate(10deg);
}

.footer {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer__green {
  background-color: #01af8d;
}
.footer button {
  transition: transform 0.3s ease;
}
.footer button:hover {
  transform: scale(1.05);
}
.footer__container1 {
  padding: 5rem 0 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .footer__container1 {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .footer__container1 {
    width: 60%;
  }
}
.footer__container1__inTouch {
  color: #3a3335;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  background-color: #01af8d;
  width: 40%;
  max-width: 20rem;
  height: 10rem;
}
.footer__container1__inTouch__text {
  font-family: "Corben", serif;
  padding: 0 0.5rem;
}
.footer__container1__inTouch p {
  font-family: "Work Sans", sans-serif;
}
.footer__container1__inTouch button {
  color: #f2f2f2;
  background-color: #f15c2a;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
}
.footer__container1__inTouch--green {
  background-color: #016855;
  color: #f2f2f2;
}
.footer__container1__hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  border-radius: 15px;
  text-align: center;
  background-color: #016855;
  width: 40%;
  max-width: 20rem;
}
.footer__container1__hours__title {
  padding: 0.5rem;
  font-family: "Corben", serif;
  color: #f2f2f2;
}
.footer__container1__hours__times {
  font-family: "Work Sans", sans-serif;
  color: #01af8d;
}
.footer__container1__hours ul {
  padding-left: 0;
  list-style-position: inside;
}
.footer__container1__hours li {
  flex-wrap: nowrap;
  list-style: none;
}
.footer__text {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 1.5rem 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .footer__text {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .footer__text {
    width: 60%;
  }
}
.footer__socials {
  padding-bottom: 1rem;
  text-align: center;
}
.footer__socials img {
  display: inline;
  width: clamp(3rem, 20%, 6rem);
  transition: transform 0.3s ease;
}
.footer__socials img:hover {
  transform: scale(1.05);
}
.footer__container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container2__logos {
  width: clamp(2rem, 15%, 8rem);
  padding: 1%;
}
.footer__greenLine {
  width: 100%;
  background-color: #016855;
  height: 0.5rem;
}

.about {
  padding: 1rem 1rem 10rem 1rem;
  background-color: #01af8d;
  color: #3a3335;
}
.about img {
  border-radius: 50%;
  padding: 2rem;
  width: clamp(8rem, 100%, 18rem);
  margin: auto;
}
@media only screen and (min-width: 64rem) {
  .about img {
    padding: 3;
  }
}
.about__heading {
  margin: 1rem 2rem;
  font-family: "Corben", serif;
  font-weight: 400;
  font-size: 3rem;
}
.about__text {
  padding: 0 2rem 1rem 2rem;
  font-family: "Work Sans", sans-serif;
  text-align: justify;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 30rem) {
  .about__container {
    flex-direction: row;
  }
}
.about h3 {
  font-size: 1.5rem;
  text-decoration: overline underline;
  font-family: "Work Sans", sans-serif;
}
@media only screen and (min-width: 64rem) and (max-width: 90rem) {
  .about {
    padding: 2rem 15rem 8rem 15rem;
  }
}
@media only screen and (min-width: 90rem) {
  .about {
    padding: 2rem 23rem 8rem 23rem;
  }
}

.servicesHeading {
  font-size: clamp(1.5rem, 4vw, 5rem);
  padding: 3rem 0;
  display: block;
  text-align: center;
  font-family: "Corben", serif;
  color: #f2f2f2;
  background-color: #01af8d;
  text-decoration: underline;
}

.services {
  padding-bottom: 10rem;
  color: #3a3335;
  overflow: auto; /* Enable scroll if needed */
  display: grid;
  background-color: #01af8d;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-areas: "library" "classes" "car" "meals" "assist" "garden" "cds" "food";
  padding: 0 10% 20% 10%;
}
.services button {
  transition: transform 0.3s ease;
}
.services button:hover {
  transform: scale(1.1);
}
@media only screen and (min-width: 32rem) and (max-width: 48rem) {
  .services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "library classes" "car meals" "assist garden" "cds food";
    padding: 0 5% 10% 5%;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 90rem) {
  .services {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "library library classes classes car car" "cds cds cds meals meals meals" "assist assist garden garden food food";
  }
}
@media only screen and (min-width: 90rem) {
  .services {
    padding: 0 10% 10% 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "library classes car meals" "assist garden cds food";
  }
}
.services__item {
  background-color: #f2f2f2;
  margin: 0.5rem;
  box-shadow: 7px 7px 3px #016855;
  border-radius: 20px;
  padding: 1rem 1rem 2rem 1rem;
}
.services__item--library {
  grid-area: library;
}
.services__item--classes {
  grid-area: classes;
}
.services__item--car {
  grid-area: car;
}
.services__item--meals {
  grid-area: meals;
}
.services__item--assist {
  grid-area: assist;
}
.services__item--garden {
  grid-area: garden;
}
.services__item--cds {
  grid-area: cds;
}
.services__item--food {
  grid-area: food;
}
.services__heading {
  font-size: 1.3rem;
  color: #016855;
  margin: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}
@media only screen and (min-width: 64rem) {
  .services__heading {
    font-size: 1.7rem;
  }
}
.services__heading--bold {
  font-size: 2rem;
  font-weight: 600;
}
.services__button {
  color: #f2f2f2;
  background-color: #016855;
  display: block;
  position: relative;
  margin: 1rem auto 0 auto;
  font-size: clamp(1.3rem, 1.5vw, 3rem);
  padding: 0 1rem;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
}
.services__button__purple {
  background-color: #af2bbf;
}
.services__button__green {
  background-color: #01af8d;
  color: #016855;
}
.services__button__orange {
  background-color: #f15c2a;
}
.services__image {
  transition: 0.5s;
  margin: 0 auto;
  width: clamp(10rem, 80%, 20rem);
  border-radius: 50%;
}
.services__image:hover {
  transform: rotate(10deg);
}
.services__close {
  float: right;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.services__close:hover {
  cursor: pointer;
}
.services__modal {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
.services__modal--content {
  width: 70%;
  margin: 20% auto;
  padding: 3rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  background-color: #f2f2f2;
}

.fade-in {
  opacity: 1; /* Fully opaque */
  transition: opacity 1s ease;
}

#libraryModal,
#classesModal,
#carModal,
#mealsModal,
#assistModal,
#gardenModal,
#cdsModal,
#foodModal {
  display: none;
}

.contact {
  font-family: "Work Sans", sans-serif;
  color: #3a3335;
  padding-bottom: 10rem;
  text-align: center;
}
.contact button {
  transition: transform 0.3s ease;
}
.contact button:hover {
  transform: scale(1.05);
}
.contact__details {
  width: 80%;
  margin: 0 auto;
}
.contact__details h2 {
  color: #016855;
  padding: 2rem 0;
  font-size: 2rem;
  font-family: "Corben", serif;
}
.contact__details p {
  padding-bottom: 2rem;
}
@media only screen and (min-width: 38rem) and (max-width: 64rem) {
  .contact__details {
    padding: 0rem;
  }
}
@media only screen and (min-width: 64rem) {
  .contact__details h2 {
    padding: 0rem;
    font-size: 3rem;
  }
  .contact__details p {
    font-size: 1.8rem;
  }
}
.contact__form {
  background-color: rgba(1, 175, 141, 0.1);
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1rem solid #016855;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .contact__form {
    width: 70%;
  }
}
@media only screen and (min-width: 48rem) {
  .contact__form {
    flex-direction: row;
    width: 80%;
  }
}
.contact__form__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 38rem) {
  .contact__form__left {
    border: none;
  }
}
.contact__form__left--title {
  color: #016855;
  padding: 1rem 0.5rem 0 0.5rem;
}
.contact__form__left--inputs {
  width: 80%;
  margin: 1rem 0;
}
.contact__form__left--button {
  color: #f2f2f2;
  background-color: #f15c2a;
  padding: 0 1rem;
  font-size: clamp(1.5rem, 1vw, 3rem);
  margin: 0 0 2rem 0;
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
}
.contact__form__right {
  overflow: hidden;
  flex: 1;
}
@media only screen and (min-width: 38rem) {
  .contact__form__right {
    border: none;
    border-left: 3px solid #016855;
  }
}
.contact__map h2 {
  color: #016855;
  padding: 2rem 0;
  font-size: 2rem;
}
@media only screen and (min-width: 30rem) {
  .contact__map {
    padding: 0;
  }
}

.contribute {
  padding-bottom: 10rem;
  font-family: "Work Sans", sans-serif;
  color: #3a3335;
  text-align: center;
}
.contribute button {
  transition: transform 0.3s ease;
}
.contribute button:hover {
  transform: scale(1.05);
}
.contribute__heading {
  font-family: "Corben", serif;
  font-weight: 600;
  font-size: 3rem;
  color: #f2f2f2;
  background-color: #af2bbf;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1rem solid #01af8d;
  border-top: 1rem solid #01af8d;
}
.contribute__text {
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
}
@media only screen and (min-width: 64rem) {
  .contribute__text {
    width: 80%;
    padding: 2rem 0;
  }
}
.contribute__button {
  color: #f2f2f2;
  background-color: #016855;
  display: block;
  position: relative;
  padding: 0 1rem;
  margin: 1rem auto;
  font-size: clamp(1.5rem, 1.5vw, 5rem);
  border-radius: 20px;
  font-family: "Work Sans", sans-serif;
  border: none;
  cursor: pointer;
}
.contribute__button__small {
  padding: 0.2rem 0.5rem;
}
@media only screen and (min-width: 38rem) {
  .contribute__button__small {
    font-size: clamp(1.2rem, 1.5vw, 5rem);
  }
}
.contribute__container {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 0 4rem;
}
@media only screen and (min-width: 38rem) and (max-width: 90rem) {
  .contribute__container {
    flex-direction: row;
    margin: 1rem auto;
    padding: 0;
  }
}
@media only screen and (min-width: 90rem) {
  .contribute__container {
    flex-direction: row;
    width: 75%;
  }
}
.contribute__container__item {
  flex: 1;
}
@media only screen and (min-width: 64rem) {
  .contribute__container__item {
    padding: 0 3rem;
  }
}
.contribute__container__img {
  padding: 0.5rem;
  border-radius: 50%;
  width: 100%;
}

.whatsOn {
  background-color: #01af8d;
  color: #3a3335;
  font-family: "Work Sans", sans-serif;
  text-align: justify;
  padding: 2rem 0 10rem 0;
}
.whatsOn__day, .whatsOn__year {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 auto;
  color: #f2f2f2;
}
@media only screen and (min-width: 38rem) and (max-width: 48rem) {
  .whatsOn__day, .whatsOn__year {
    width: 90%;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 48rem) and (max-width: 64rem) {
  .whatsOn__day, .whatsOn__year {
    width: 70%;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 64rem) {
  .whatsOn__day, .whatsOn__year {
    width: 50%;
    border-radius: 20px;
  }
}
.whatsOn__weekly, .whatsOn__yearly {
  transition: 1s;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
  padding: 2rem 0;
  overflow: hidden;
}
@media only screen and (min-width: 38rem) {
  .whatsOn__weekly, .whatsOn__yearly {
    width: 80%;
    border-radius: 20px;
  }
}
.whatsOn h1,
.whatsOn h2 {
  text-align: center;
  padding: 2rem 1rem;
}
.whatsOn h1 {
  background-color: #016855;
  color: #f2f2f2;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}
@media only screen and (min-width: 64rem) {
  .whatsOn h1 {
    width: 70%;
    font-size: 2rem;
  }
}
.whatsOn h2 {
  font-family: "Corben", serif;
  border-bottom: 5px solid #af2bbf;
  border-top: 5px solid #016855;
  color: #016855;
  margin: 1rem 0 1rem 0;
  background-color: #f2f2f2;
}

.whatsOn__weekly:hover,
.whatsOn__yearly:hover {
  cursor: pointer;
  transform: scale(105%);
}

.volunteer {
  padding-bottom: 10rem;
  color: #f2f2f2;
  background-color: #016855;
  text-align: justify;
}
.volunteer__gridParent {
  column-gap: 0.5rem;
  padding: 5% 20%;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "heading heading heading img1" "img2 img2 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3";
}
@media only screen and (min-width: 38rem) {
  .volunteer__gridParent {
    grid-template-areas: "heading heading heading img1" "img2 text1 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3";
  }
}
.volunteer__gridParent p {
  font-family: "Work Sans", sans-serif;
}
.volunteer__heading {
  color: #f2f2f2;
  font-family: "Corben", serif;
  font-size: clamp(1.5rem, 6vw, 3.5rem);
  grid-area: heading;
}
.volunteer__img1 {
  grid-area: img1;
  width: 100%;
  max-width: 10rem;
}
.volunteer__img2 {
  grid-area: img2;
  width: 100%;
  max-width: 10rem;
}
.volunteer__text1 {
  text-align: left;
  grid-area: text1;
}
.volunteer__text2 {
  grid-area: text2;
}
.volunteer__text3 {
  grid-area: text3;
}
.volunteer__flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;
}
@media only screen and (min-width: 38rem) and (min-width: 64rem) {
  .volunteer__flexParent {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .volunteer__flexParent {
    width: 60%;
  }
}
.volunteer__flexChild {
  border-radius: 20px;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
}

.bPatch {
  padding-bottom: 10rem;
  color: #3a3335;
  background-color: #01af8d;
  text-align: justify;
}
.bPatch__gridParent {
  column-gap: 0.5rem;
  padding: 5% 20%;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "heading heading heading img1" "text1 text1 text1 text1" "img2 img2 img2 img2" "text2 text2 text2 text2" "text3 text3 text3 text3";
}
@media only screen and (min-width: 38rem) {
  .bPatch__gridParent {
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading heading heading img1" "img2 text1 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3";
  }
}
.bPatch__gridParent p {
  font-family: "Work Sans", sans-serif;
}
.bPatch__heading {
  color: #3a3335;
  font-family: "Corben", serif;
  font-size: clamp(1.5rem, 6vw, 3.5rem);
  grid-area: heading;
}
.bPatch__img1 {
  grid-area: img1;
  width: 100%;
  max-width: 10rem;
}
.bPatch__img2 {
  grid-area: img2;
  margin: 0 auto;
  width: 100%;
  max-width: 10rem;
}
.bPatch__text1 {
  text-align: left;
  grid-area: text1;
}
.bPatch__text2 {
  grid-area: text2;
}
.bPatch__text3 {
  grid-area: text3;
}
.bPatch__flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;
}
@media only screen and (min-width: 38rem) and (min-width: 64rem) {
  .bPatch__flexParent {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .bPatch__flexParent {
    width: 60%;
  }
}
.bPatch__flexChild {
  border-radius: 20px;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
}

.giveBack {
  color: #f2f2f2;
  background-color: #af2bbf;
  text-align: justify;
  padding-bottom: 10rem;
}
.giveBack__gridParent {
  column-gap: 0.5rem;
  padding: 5% 20%;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "heading heading heading img1" "text1 text1 text1 text1" "img2 img2 img2 img2" "text2 text2 text2 text2" "text3 text3 text3 text3";
}
@media only screen and (min-width: 38rem) {
  .giveBack__gridParent {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "heading heading heading img1" "img2 text1 text1 text1" "text2 text2 text2 text2" "text3 text3 text3 text3";
  }
}
.giveBack__gridParent p {
  font-family: "Work Sans", sans-serif;
}
.giveBack__heading {
  text-align: left;
  color: #f2f2f2;
  font-family: "Corben", serif;
  font-size: clamp(1.5rem, 8vw, 3.5rem);
  grid-area: heading;
}
.giveBack__img1 {
  grid-area: img1;
  width: 100%;
  max-width: 10rem;
}
.giveBack__img2 {
  grid-area: img2;
  margin: 0 auto;
  width: 100%;
  max-width: 10rem;
}
.giveBack__text1 {
  grid-area: text1;
}
.giveBack__text2 {
  font-weight: 500;
  font-size: 1.2rem;
  grid-area: text2;
}
.giveBack__text3 {
  grid-area: text3;
  font-family: "Work Sans", sans-serif;
  list-style: symbols("🤍" "🤍" "🤍" "🤍");
}
.giveBack__flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;
}
@media only screen and (min-width: 38rem) and (min-width: 64rem) {
  .giveBack__flexParent {
    width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .giveBack__flexParent {
    width: 60%;
  }
}
.giveBack__flexChild {
  border-radius: 20px;
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
}
