:root {
  --heading: "Righteous", cursive;
  --body: "Manrope", sans-serif;
}

*, html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  background-color: var(--dark-green);
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family: var(--heading);
}

h1 {
  font-size: clamp(1.8rem, 2.6rem + 2vw, 12rem);
}

h2 {
  font-size: clamp(1.8rem, 1.5rem + 1.5vw, 3rem);
}

h3 {
  font-size: clamp(1.3rem, 1rem + 1.5vw, 2.2rem);
}

p {
  margin-top: 0;
  font-family: var(--body);
  font-size: 1.1rem;
}

#small-text {
  font-size: 0.9rem;
}

.text__blurb {
  display: block;
}
.text__blurb__component {
  width: 18rem;
  margin-inline: auto;
}
@media (min-width: 43.75em) {
  .text__blurb__component {
    width: 55%;
    display: block;
  }
}

/* here we are setting global variables, but if you want local variables e.g, colours only used in particular partials/areas, you do that OUTSIDE of the root curly braces*/
:root {
  --purple: #AF2BBF;
  --orange: #F15C2A;
  --orange-85opaque: rgba(241, 92, 42, 0.85);
  --dark-green: #016855;
  --dark-green-85opaque: rgba(1, 104, 85, 0.85);
  --dark-green-30opaque: rgba(1, 104, 85, 0.3);
  --light-green: #01AF8D;
  --white: #FFFFFF;
  --black: #21282E;
  --black-85opaque: rgba(33, 40, 46, 0.85);
  --black-10opaque: rgba(33, 40, 46, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  width: min(95%, 1200px);
  /*this will set the content to the centre. or you can use margin: 0 auto; but sometimes it's better to do them individually
  because you might forget that you have set margin top and bottom to zero and it could cause issues later. instead!!! use margin-inline*/
  margin-inline: auto;
}
@media (min-width: 56.25em) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }
}
.grid__main, .grid__sidebar {
  margin-top: 0.5rem;
  padding: 40px;
}
.grid__main {
  background-color: var(--purple);
}
.grid__sidebar {
  background-color: var(--light-green);
}
@media (min-width: 56.24875em) {
  .grid__sidebar {
    background-color: var(--orange);
    text-align: justify;
  }
}
@media (min-width: 89.99875em) {
  .grid__sidebar {
    background-color: var(--purple);
    text-align: justify;
  }
}

footer {
  background-color: var(--white);
  color: var(--black);
}

.footer-icons {
  margin-inline: auto;
  width: min(80%, 2000px);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: var(--white);
}

.icon-item {
  padding: 2rem 0.5rem 0rem 0.5rem;
  text-align: center;
  width: 100%;
}
@media (min-width: 43.75em) {
  .icon-item {
    padding: 2rem 1rem 0rem 1rem;
  }
}
@media (min-width: 56.25em) {
  .icon-item {
    padding: 2rem 1.5rem 0rem 1.5rem;
  }
}
@media (min-width: 71em) {
  .icon-item {
    padding: 2rem 2.5rem 0rem 2.5rem;
  }
}
@media (min-width: 90em) {
  .icon-item {
    padding: 2rem 3.5rem 0rem 3.5rem;
  }
}

.footer-text {
  display: grid;
  width: 100%;
  margin-inline: auto;
  grid-template-columns: 30% 40% 30%;
  background-color: var(--white);
  padding-top: 2rem;
}

.text-item {
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}

.footer-blurb {
  width: 100%;
  margin-inline: auto;
  grid-template-columns: auto;
  grid-template-rows: 100%;
  background-color: var(--white);
  margin-top: 1rem;
}

.copyright {
  text-align: center;
  margin-top: 0rem;
  margin-inline: auto;
}

.socials-trio {
  display: grid;
  padding-top: 1rem;
  margin-inline: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100%;
  background-color: var(--white);
  width: 100%;
}
@media (min-width: 56.24875em) {
  .socials-trio {
    width: 60%;
  }
}
@media (min-width: 89.99875em) {
  .socials-trio {
    width: 40%;
  }
}

.socials {
  width: 100%;
  padding-left: 0;
  text-align: center;
}
@media (min-width: 43.75em) {
  .socials {
    padding-left: 1rem;
  }
}

.site-by {
  text-align: right;
  float: right;
}

@keyframes glideDown {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(-30%);
  }
}
.dropbtn {
  background-color: var(--light-green);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: var(--body);
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--orange);
}

.dropdown {
  font-family: var(--body);
  position: relative;
  float: right;
  margin-top: 1.5rem;
  margin-right: 3rem;
}
@media (min-width: 56.24875em) {
  .dropdown {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark-green);
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: var(--orange);
}

.show {
  display: block;
}

.header__home {
  display: block;
  background-color: var(--dark-green);
}
.header__home__img {
  width: 5rem;
  text-align: center;
  display: inline-block;
  margin: 0.5rem 3rem;
}
@media (min-width: 56.24875em) {
  .header__home__img {
    margin-inline: auto;
    display: block;
  }
}
.header__navbar {
  margin-inline: auto;
  width: min(90%, 2000px);
  display: none;
  grid-template-columns: auto;
}
.header__navbar__item {
  margin-inline: auto;
  text-transform: uppercase;
}
.header__navbar__item a {
  text-decoration: none;
  color: var(--light-green);
}
.header__navbar__item a:active {
  color: var(--white);
}
@media (min-width: 56.24875em) {
  .header__navbar {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}
.header__text {
  text-align: center;
  background-image: radial-gradient(circle, rgba(1, 104, 85, 0.7) 50%, rgba(255, 255, 255, 0.4) 100%), url(site/images/ladies_gardening.png);
  background-repeat: repeat;
  display: block;
  font-size: 3rem;
  padding: 15rem 0;
}
@media (min-width: 27rem) {
  .header__text {
    font-size: 4.5rem;
  }
}
@media (min-width: 43.7485em) {
  .header__text {
    padding: 6rem 0;
    font-size: 6rem;
  }
}
@media (min-width: 56.24875em) {
  .header__text {
    padding: 7rem 4rem;
    font-size: 8rem;
    height: 100%;
  }
}
@media (min-width: 89.99875em) {
  .header__text {
    padding: 11rem 9rem;
    font-size: 8rem;
    height: 100%;
  }
}
.header__text__words {
  animation: glideDown 4s;
}

.active a {
  color: var(--white);
  background-color: var(--orange);
  padding: 1.2rem;
  letter-spacing: 0.2rem;
}

.orange {
  border: 1rem solid var(--orange);
}

.flexDisplay {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 67.6em) {
  .flexDisplay {
    animation: fadeIn 0.4s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.noneDisplay {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 67.6em) {
  .noneDisplay {
    display: none;
  }
}

.homepage {
  background-color: var(--dark-green);
  transform: translate(0, -5.5rem);
}
.homepage__about {
  background-color: var(--white);
  color: var(--black);
  display: inline-block;
  width: 100%;
}
.homepage__about__heading {
  text-align: center;
}
.homepage__about__heading::before {
  content: "";
  display: block;
  width: 25%;
  margin: 3rem 0 1rem 0;
  margin-inline: auto;
  background: var(--dark-green);
  padding-bottom: 0.3rem;
}
.homepage__about__heading::after {
  content: "";
  display: block;
  width: 25%;
  margin-top: 1rem;
  margin-inline: auto;
  background: var(--purple);
  padding-bottom: 0.3rem;
}
.homepage__about__pics {
  display: flex;
  flex-wrap: wrap;
}
.homepage__about__pics__pic {
  width: 15rem;
  margin-inline: auto;
  border-radius: 50%;
  border: 1rem solid var(--orange);
}
.homepage__about__pics__pic__hideme {
  width: 15rem;
  margin-inline: auto;
  display: none;
  border-radius: 50%;
  border: 1rem solid var(--purple);
}
@media (min-width: 56.25em) {
  .homepage__about__pics__pic__hideme {
    width: 15rem;
    display: block;
  }
}
.homepage__about__text {
  text-align: center;
}
.homepage__about__text::before {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0;
  margin-inline: auto;
  background: var(--orange);
  padding-bottom: 0.3rem;
}
.homepage__about__text::after {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0 4rem 0;
  margin-inline: auto;
  background: var(--dark-green);
  padding-bottom: 0.3rem;
}
.homepage__services {
  background-color: var(--light-green);
  display: block;
  margin-inline: auto;
}
.homepage__services__heading {
  text-align: center;
  padding-top: 2rem;
}
.homepage__services__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
@media (min-width: 43.75em) {
  .homepage__services__row {
    padding: 0 6rem;
  }
}
@media (min-width: 56.25em) {
  .homepage__services__row {
    padding: 0 2rem;
  }
}
@media (min-width: 90em) {
  .homepage__services__row {
    padding: 0 6rem;
  }
}
.homepage__services__column {
  flex: 50%;
  max-width: 50%;
  padding: 1rem;
  width: 0.5rem;
}
@media (min-width: 56.25em) {
  .homepage__services__column {
    flex: 25%;
    max-width: 25%;
  }
}
.homepage__services__column__div {
  position: relative;
  text-align: center;
  color: var(--white);
}
.homepage__services__column__div__overlay {
  background-color: var(--black-85opaque);
  position: absolute;
  bottom: 1%;
  width: 100.5%;
  height: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1rem;
  font-weight: 1000;
  padding: 0 0.5rem;
  font-family: var(--body);
}
@media (min-width: 27rem) {
  .homepage__services__column__div__overlay {
    font-size: 1.4rem;
    padding: 0 0.2rem;
  }
}
@media (min-width: 43.75em) {
  .homepage__services__column__div__overlay {
    font-size: 2.5rem;
    padding: 0 0.2rem;
  }
}
@media (min-width: 56.25em) {
  .homepage__services__column__div__overlay {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
@media (min-width: 90em) {
  .homepage__services__column__div__overlay {
    font-size: 3rem;
  }
}
.homepage__services__column__div__text {
  width: 100%;
}
.homepage__services img {
  width: 100%;
}
.homepage__butterflyPatch {
  background-color: var(--white);
  color: var(--black-85opaque);
}
.homepage__butterflyPatch__heading {
  padding-top: 2rem;
  display: block;
  width: clamp(14rem, 40%, 28rem);
  margin-inline: auto;
}
.homepage__butterflyPatch__div {
  display: block;
  width: 100%;
  margin-inline: auto;
  transform: translateY(-5.7rem);
}
@media (min-width: 35rem) {
  .homepage__butterflyPatch__div {
    transform: translateY(-5rem);
  }
}
@media (min-width: 43.75em) {
  .homepage__butterflyPatch__div {
    transform: translateY(-8.5rem);
  }
}
@media (min-width: 50em) {
  .homepage__butterflyPatch__div {
    transform: translateY(-9rem);
  }
}
@media (min-width: 56.25em) {
  .homepage__butterflyPatch__div {
    transform: translateY(-9.5rem);
  }
}
@media (min-width: 90em) {
  .homepage__butterflyPatch__div {
    transform: translateY(-10rem);
  }
}
.homepage__butterflyPatch__div__picture {
  border-radius: 5%;
  display: block;
  width: clamp(17rem, 80%, 50rem);
  margin-inline: auto;
}
.homepage__butterflyPatch__div__background {
  color: white;
  text-align: center;
  width: 100%;
  background-color: var(--black-85opaque);
  transform: translateY(10.5rem);
  font-family: var(--body);
  font-size: clamp(0.8rem, 1.3vw, 1.2rem);
  display: block;
  width: clamp(15rem, 80%, 50rem);
  margin-inline: auto;
  padding: 0.7rem 0.3rem;
}
@media (min-width: 43.75em) {
  .homepage__butterflyPatch__div__background {
    background-color: var(--black-85opaque);
    transform: translateY(14rem);
    padding: 1.5rem 0.5rem;
  }
}
@media (min-width: 50em) {
  .homepage__butterflyPatch__div__background {
    background-color: var(--black-85opaque);
    transform: translateY(15rem);
  }
}
@media (min-width: 56.25em) {
  .homepage__butterflyPatch__div__background {
    background-color: var(--black-85opaque);
    transform: translateY(18rem);
  }
}
.homepage__butterflyPatch__div__overlay {
  font-family: var(--body);
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  padding: 0.5rem 0.5rem -1.5rem 0.5rem;
}
.homepage__butterflyPatch__div__overlay__hidden {
  display: none;
}
@media (min-width: 43.75em) {
  .homepage__butterflyPatch__div__overlay__hidden {
    display: block;
  }
}
.homepage__calendar__heading {
  text-align: center;
  padding-top: 2rem;
}
.homepage__calendar__picture {
  width: clamp(23.3rem, 70%, 60rem);
  display: block;
  margin-inline: auto;
  border-radius: 5%;
}
.homepage__more {
  background-color: var(--white);
  color: var(--dark-green);
}
.homepage__more__heading {
  font-size: 4rem;
  display: block;
  width: 100%;
  text-align: center;
}
.homepage__more__heading::before {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0;
  margin-inline: auto;
  background: var(--light-green);
  padding-bottom: 0.3rem;
}
.homepage__more__heading::after {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0 4rem 0;
  margin-inline: auto;
  background: var(--light-green);
  padding-bottom: 0.3rem;
}
.homepage__more__flex {
  background-color: var(--white);
  color: var(--black);
  display: block;
  width: 100%;
}
@media (min-width: 56.25em) {
  .homepage__more__flex {
    display: flex;
    flex-wrap: nowrap;
  }
}
.homepage__more__list {
  display: none;
  flex: 0%;
}
.homepage__more__list__heading {
  font-size: 2rem;
}
@media (min-width: 56.25em) {
  .homepage__more__list {
    display: block;
    padding: 2rem 1rem 0 0;
    flex: 30%;
    line-height: 3rem;
    color: black;
  }
}
.homepage__newsletter {
  display: block;
  position: relative;
  transform: translateY(1rem);
  text-align: center;
  color: var(--light-green);
}
.homepage__newsletter__heading {
  padding-top: 1rem;
  font-size: 3rem;
}
.homepage__newsletter__heading::before {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0;
  margin-inline: auto;
  background: var(--orange);
  padding-bottom: 0.3rem;
}
.homepage__newsletter__heading::after {
  content: "";
  display: block;
  width: 100%;
  margin: 2rem 0 4rem 0;
  margin-inline: auto;
  background: var(--orange);
  padding-bottom: 0.3rem;
}
.homepage__newsletter__plug {
  margin: 0 auto;
  width: 60%;
  border: solid var(--purple) 5px;
  height: 8rem;
}

.carousel {
  width: 100%;
  height: 50vh;
  position: relative;
  padding-bottom: 3rem;
}
@media (min-width: 43.75em) {
  .carousel {
    width: 100%;
    height: 90vh;
    position: relative;
    padding: 3rem;
  }
}
@media (min-width: 56.25em) {
  .carousel {
    flex: 70%;
    position: relative;
    height: 80vh;
    margin-inline: auto;
    padding: 2rem 7rem 4rem 7rem;
  }
}
.carousel .carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.carousel .carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel .carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel .carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel .carousel__button {
  background: var(--light-green);
  border: solid var(--dark-green) 3px;
  border-radius: 30%;
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.carousel .carousel__button--left {
  left: 2rem;
  padding: 0.3rem;
}
.carousel .carousel__button--right {
  right: 2rem;
  padding: 0.3rem;
}
.carousel .carousel__button img {
  width: 1rem;
}
.carousel .carousel__nav {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
}
.carousel .carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: lightgreen;
  opacity: 0.7;
  margin: 0 1rem;
  cursor: pointer;
}
.carousel .carousel__indicator.current-slide {
  background: darkgreen;
}
.carousel .is-hidden {
  display: none;
}

.back-to-top.showop {
  opacity: 1;
}

.about__text {
  width: 60%;
  padding: 1rem 0 1.5rem 0;
}
.about__heading {
  animation-name: glideDown;
  animation-duration: 4s;
}
.about__pics {
  width: 15rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 1rem solid var(--light-green);
  display: block;
}
.about__pics__hideme {
  margin: 0 auto;
  width: 15rem;
  display: none;
  border-radius: 50%;
  border: 1rem solid var(--purple);
}
@media (min-width: 56.25em) {
  .about__pics__hideme {
    width: 15rem;
    display: block;
  }
}

.cursive_emphasis {
  font-family: "Amatic SC", cursive;
}

.back-to-top {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 9999999;
  position: fixed;
  right: 20px;
  bottom: 2rem;
  border-radius: 0%;
}

.back-to-top img {
  color: #FFFFFF;
  opacity: 1;
  z-index: 9999999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 10rem;
  height: 6rem;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
  color: #FFFFFF;
}

.back-to-top.showop {
  opacity: 1;
}

body {
  background-color: var(--white);
}

footer {
  border-top: 3rem var(--dark-green) groove;
}

header {
  background-color: var(--dark-green);
  transform: translateY(-2.1%);
}

.services {
  background-color: var(--white);
  height: 100%;
  width: 100%;
  color: var(--black);
}
.services__heading {
  margin-top: 2rem;
  display: block;
  width: 90%;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 1rem;
}

.flex-container {
  margin: 0 5rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .flex-container {
    margin: 0 2rem;
    text-align: center;
  }
}

.flex-item-left {
  flex: 20%;
}

.flex-item-left img {
  max-width: 80%;
  margin-top: 3rem;
  text-align: right;
  border-radius: 5%;
}

.flex-item-right {
  text-align: right;
  flex: 80%;
}

.flex-item-left-text {
  flex: 80%;
}

.flex-item-right-img {
  flex: 20%;
}

.flex-item-right-img img {
  max-width: 80%;
  margin-top: 3rem;
  border-radius: 5%;
  float: right;
}

@media (max-width: 550px) {
  .flex-item-left-text, .flex-item-right {
    flex: 100%;
    width: 100%;
    text-align: center;
  }
  .flex-item-right-img img, .flex-item-left img, .flex-item-left, .flex-item-right-img {
    float: none;
    border-radius: 50%;
    margin-top: 1rem;
    flex: 100%;
  }
}
@media (max-width: 550px) {
  .hide {
    display: none;
  }
}

.spacer {
  height: 8rem;
  width: 100%;
  background-color: var(--white);
}

.after_dec::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 0.3rem;
  margin-inline: auto;
  background: var(--dark-green);
  padding-bottom: 0.3rem;
}

.cursive_emphasis {
  font-family: "Amatic SC", cursive;
}

.responsive:hover .gallery {
  opacity: 0.6;
}

.gallery {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

.responsive:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--light-green);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 750px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  .middle {
    opacity: 1;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.back-to-top img {
  color: #FFFFFF;
  opacity: 1;
  z-index: 9999999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 10rem;
  height: 6rem;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
  color: #FFFFFF;
}

.contact {
  background-color: var(--white);
  color: var(--dark-green);
  text-align: center;
}
.contact__heading {
  margin-top: 2rem;
  color: var(--dark-green);
  -webkit-text-decoration: underline 0.3rem;
          text-decoration: underline 0.3rem;
  line-height: 5rem;
}
.contact__details {
  display: block;
  width: 50%;
  text-align: left;
  margin: 0 auto;
}
.contact__details__item {
  font-size: 2rem;
}

#map {
  margin: 0 auto;
  height: 400px;
  width: 50%;
}

.cursive_emphasis {
  font-family: "Amatic SC", cursive;
  color: var(--purple);
}

.bpatch {
  background-color: var(--white);
  color: var(--dark-green);
  text-align: center;
}
.bpatch__text {
  display: block;
  width: 50%;
  margin: 2rem auto 4rem auto;
}
.bpatch__images {
  display: flex;
  flex-wrap: wrap;
}
.bpatch__image {
  margin-inline: auto;
}
.bpatch__image img {
  width: 22rem;
  margin: 1rem;
  border-radius: 10%;
}

.whatson {
  width: 100%;
  position: static;
  background-color: var(--white);
}

.whatson img {
  width: 40%;
  display: block;
  width: auto;
  margin: auto;
}/*# sourceMappingURL=style.css.map */
